{erl_first_files, ["src/vm_stats_utils.erl"]}.

{erl_opts, [
	{parse_transform, lager_transform},
	{i,"_build/default/lib"},
	{i,"lib"},
	{platform_define, "20", 'UDP_HEADER'}
]}.


{deps, [
	{lager, ".*",
    		{git, "https://github.com/basho/lager.git", {branch, "master"}}},
	{lager_udp_backend, ".*",
		{git, "https://github.com/Tapklik/lager_udp_backend.git", {branch, "master"}}},
	{cowboy, "2.*",
        	{git, "git://github.com/ninenines/cowboy.git", {tag,"2.0.0-pre.7"}}},
	{pooler, ".*",
        	{git, "https://github.com/seth/pooler.git", {branch,"master"}}},
	{jsx, "2.6.2",
        	{git, "https://github.com/talentdeficit/jsx.git", {tag,"v2.6.2"}}},
	{statsderl, ".*",
		{git, "https://github.com/Tapklik/statsderl.git", {branch,"master"}}},
	{eredis, ".*",
    		{git, "https://github.com/wooga/eredis.git", {branch, "master"}}},
	{msgpack, ".*",
    		{git, "git://github.com/msgpack/msgpack-erlang.git", {tag,"0.6.0"}}},
	{edown, ".*", 
		{git, "https://github.com/uwiger/edown.git", "HEAD"}},
	{gen_leader, ".*",
		{git, "https://github.com/garret-smith/gen_leader_revival.git", "HEAD"}},
	{bertconf, ".*",
		{git, "https://github.com/Tapklik/bertconf.git", {branch, "master"}}}
]}.

{plugins, [
	{ pc, { git, "https://github.com/blt/port_compiler.git", { branch, "master"}}}
]}.
